# PhpStorm
.idea

# Composer
/composer.phar
/vendor/*

# PHPUnit
/tests/shopware

# OSX Files
.DS_STORE
*~

node_modules

# User provided content

!/media/image/thumbnail
!/media/temp/.htaccess

# SW4
/cache/doctrine/*/*
/cache/general/*
/cache/templates*
/cache/proxies/*
/cache/shopgate/*
/cache/productexport/*

# SW5
/cache/*
/web/cache/*.*

/logs/*
/files/*
/media/*

# SW 5.1
# Caches/Proxies.php_cs
.php_cs.cache
/var/cache/*
/var/log/*
/tests/Shopware/TempFiles/*
!/var/cache/.htaccess
!/var/cache/clear_cache.sh
/web/cache/*
/web/sitemap/*

!.gitkeep

# Configs
/config.php
/config_dev.php